html
  head
    title Test
    link(rel='stylesheet', href='index.css')
  body
    h1 Songle Sync slave
    p
      strong Access token:
      |  #{accessToken}
    p
      strong Position:
      |  
      span.time
      | [ms]
    #player
    script.
      var token="!{accessToken}"
    script(src="https://api.songle.jp/v2/api.js")
    script(src="index.js")